{% extends 'base.html' %}

{% block title %}
    <h1>Dashboard</h1>
{% endblock title %}

{% block content %}
    <div class="content">
        {% with request.user.images_created.count as count %}
            <p>Wellocom to your dashboard. You have bookmarke {{ count }} image{{ count|pluralize }}.</p>
        {% endwith %}

        <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites -> <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="btn">Bookmark It</a></p>

        <p>You can also <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'account_change_password' %}">change your password</a></p> 
    </div>
{% endblock content %}

